.user-footer {
  margin-top: auto;
  min-height: 44px;
  padding: 0 6px;
}

.user-footer-btn {
  font-size: 18px;
  justify-content: flex-start;
  padding: 8px 12px;
}

@media (max-width: 991px) {
  .user-footer {
    justify-content: center;
    padding: 0;
  }
}
